/**
Custom style for food
 */


/**
Estilos generales
 */
.containerBuscar{
    background-image: url('../images/search_bg.jpg');
    background-position: center;
    background-size: cover;
}

.containerBuscar h4{
    color: #FFF!important;
    text-align: center;
}

.containerCategoria{
    background-position: center;
    background-size: cover;
}

.containerCategoria h4{
    color: #FFF!important;
    text-align: center;
}

.categoria_overlay {
    height: 100px;
    background-size: cover;
}

.categoria p {
    color: #FFF;
}

.logo-negocio {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    border:none;
}

.logo-negocio-small {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    border:none;
}

.old_price{
    text-decoration: line-through!important;
}

.calificar{
    font-size: 48px!important;
    color: #ee072c;
    cursor: pointer;
}

.titulo-categoria{
    min-width: 300px;
    width: 30%;
    margin: auto;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
}

.titulo-categoria .overlay{
    padding: 30px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.titulo-categoria  h4{
    text-align: center;
    color: #FFF;
}

.badge-wrapper {
    position: relative;
}

.badge {
    position: absolute;
    top: 0;
    left: -8px;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #ee072c;
    font-size: 12px;
    text-align: center;
    font-family: arial, helvetica;
    font-weight: bold;
}

.conteoCaracteresContenedor {
    font-size: 11px;
    color: #666;
    text-align: right;
}


/**
Estilos desktop
 */
.solo_movil {
    display: none;
}

.solo_desktop {
    display: inherit;
}

.solo_desktop_inline {
    display: inline;
}

.categoria_overlay {
    height: 200px;
}

.categoria{
    margin-bottom: 10px;
}

.food-item-wrap {
    height: 420px;
}

.price-btn-block {
    position: absolute;
    bottom: 50px;
    width: 85%;
    margin-right: 50px;
}

.product-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 70px;
}

.divBtnDomicilio {
    background-color: #eee;
    background-image: url('../images/bg-btn-domicilio.jpeg');
    background-position: center;
    background-size: cover;
    margin: 20px;
}

.divBtnPickup {
    background-color: #eee;
    background-image: url('../images/bg-btn-pickup.jpeg');
    background-position: center;
    background-size: cover;
    margin: 20px;
}

/**stepper
 */
bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fa7a8f; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #ee072c; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
.progress {background-color: #F5F5F5}
.bs-wizard > .bs-wizard-step.complete > .progress {background-color: #ee072c}
.bs-wizard > .bs-wizard-step.active > .progress {background-color: #ee072c}
.bs-wizard > .bs-wizard-step.active > .progress { background: linear-gradient(90deg, #ee072c 0%, #ee072c 50%, #f5f5f5 70%);}
.bs-wizard > .bs-wizard-step.active > .bs-wizard-stepnum { font-weight: bold; color: #ee072c}
.bs-wizard > .bs-wizard-step:first-child.active > .progress {background: linear-gradient(90deg, #ee072c 0%, #ee072c 0%, #f5f5f5 40%);}
.text-center {text-align: center}

/*END Form Wizard*/
.checkout-option {width: 250px; min-height: 220px; margin: auto; cursor: pointer}
.checkout-option.active * {color: #ee072c}
.checkout-option {border-color: #A5A5A5; border-width: 3px; border-style: solid; border-radius: 10px; margin-bottom: 10px;}
.checkout-option.active {border-color: #ee072c; border-width: 3px; border-style: solid; border-radius: 10px;}





/**
Mobile version style
 */
.menu_movil div p{
    margin: 0px;
}

.menu_movil{
    background-color: rgba(255,255,255,.9);
    position: fixed;
    bottom: 0px;
    border-top-color: #AAA;
    border-top-style: solid;
    border-top-width: 1px;
    padding: 10px;
    width: 100%;
    overflow: hidden;
    z-index: 999;
}

.btnAgregarPlatillo{
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    height: 45px!important;
    padding-top: 10px!important;
}
 .heroMap {
     height: 300px!important; width: 100%!important; margin-top: 10px; margin-left: auto; margin-right: auto;
 }
 .heroInnerNeedsLocation {
     width: 60%; margin: auto; background-color: rgba(0,0,0,.7); padding-top: 30px;
 }

 #hero-garantia-uki{
     position: absolute;
     bottom: 20px;
     right: 20px;
     width: 200px;
     z-index: 10;
 }

#hero-arrow-down{
    position: absolute;
    bottom: 0px;
    width: 100px;
    z-index: 10;
    margin-left: -40px;
}

.txtDireccion{
    width: 80%;
}

@media (min-width: 992px) {
    .navbar-toggleable-md {
        margin-top: 17px;
    }
}

@media (max-width: 768px) {
    .solo_movil {
        display: inherit;
    }

    .solo_desktop, .solo_desktop_inline{
        display: none;
    }

    .categoria{
        margin-top:5px;
        margin-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;

    }

    .categoria_overlay {
        height: 80px;
    }

    #restaurantecategorias{
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #ee072c;
    }

    #restaurantecategorias h4{
        color:#FFF;
    }

    .restaurant-entry{
        background-color: #f0f0f0;
    }

    .cart-totals-fields {overflow: auto}

    .heroMap {
        width: 100%!important;
        height: 400px!important;
    }

    .heroInnerNeedsLocation {
        width: 100%;
    }

    .txtDireccion{
        width: inherit;
    }
}
