.img-detail {
    max-width: 250px;
    max-height: 250px;
}

.delete_form {
    display: none;
}


#logoNormal {
    display: inline;
}

#logoLight {
    display: none;
}

.ms-dark-theme .logo-sn #logoNormal {
    display: none;
}

.ms-dark-theme .logo-sn #logoLight {
    display: inline;
}

.ms-dark-theme .side-nav li.menu-item a.active,
.ms-dark-theme .side-nav li.menu-item a.active span {
    color: #FFF
}

.ms-dark-theme .breadcrumb-item.active {
    color: #9fcdff;
}

.ms-dark-theme a:hover {
    color: #9fcdff !important;
}

.ms-dark-theme .side-nav li.menu-item a.active:hover,
.ms-dark-theme .side-nav li.menu-item a.active span:hover {
    color: #9fcdff !important;
}

.alert.alert-success {
    background-color: #e0ffef;
    color: #07be6e !important;
    border-color: #07be6e;
}

.img-platillo-dashboard {
    object-fit: cover;
    height:150px;
    object-position: center center;
}

.tutorial {
    margin-bottom: 30px;
}

.comentarios_clientes {
    padding: 5px!important;
    margin: 3px!important;
    font-size: 11px;
}
